---
console.log("header by astro")
---

<header class="py-8 px05 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            <a href="/">Informática para noobs</a>
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Conceptos básicos de IT para no profesionales
        </p>
    </div>
    <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
        <a class="text-white" href="/pytest">pytest</a>
        <a class="text-white" href="/xml">XML</a>
        <a href="/sistema_archivos" class="text-white">Sistema de archivos</a>
    </nav>
</header>